body{
    background: rgba(0, 102, 255, 0.1);
    height: 100vh;
}

.columns{
    margin: 0px;
}

.parent-div{
}

.nav{
    height: 5vh;
    top: 0;
    width: 100%; 
    text-align: center;
}

.pfp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text{
    margin: auto;
    padding: 5%;
}

.nav-color{
}
