body{
    background: rgba(176,224,230,0.2);
}

.parent-div{
    padding-top: 15vh;
}

.nav{
    height: 7vh;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%; 
    text-align: center;
}

.pfp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}